!!! 5
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= t(".app_title", default: "Reconcept Astronomy")
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render partial: "layouts/header"
    .container.header-margin
      - flash.each do |k, v|
        .alert{class: "alert-#{k}"}= v
      = yield